<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        <div class="main-content">
             {{> header}}
       
            <h1>{{title}}</h1>
            <img src="/img/robot.png" class="portrait">

        </div>
       
         {{>footer}}
    </body>
</html>