<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h2>{{title}}</h2>
        </div>

        {{>footer}}
    </body>
</html>